<div class="get-off-the-header">
<h1 class="center-header">Create a New Meal Plan</h1>

<%= form_for [current_user, @meal_plan], :html => {:class => 'ui form focus'} do |f| %>
    <%= f.text_field :name, autofocus: true, :placeholder=>"Enter a name for your new meal plan.." %>
    <%= f.hidden_field :user_id, value: current_user.id %><br><br>
    <%= f.submit :submit, :class=>"ui button"%>
<% end %>
</div>