<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>🌶 Grocery List 🌶</h1>
    <% @grocery_list.each do |meal_plan, recipes| %>
        <% if !recipes.empty? %>
            <h2><%= meal_plan %></h2>
            <% recipes.each do |rec_name, ings| %>
                <h3><%= rec_name %></h3>
                <ul>
                    <% ings.each do |ing| %>
                        <li><%= ing %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
    <br>
    <h4>Thanks for using Meal Pepper, <%= @user.first_name %>.</h4>
    <h4>Have a spicy day!</h4>

  </body>
</html>